body {
    background-image: url("https://images.unsplash.com/photo-1650024520226-b63a33baff60?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGR1bmdlb25zJTIwYW5kJTIwZHJhZ29uc3xlbnwwfDB8MHx8&auto=format&fit=crop&w=500");
    font-family: 'Macondo', cursive;
    text-align: center;
    background-color: #030303;
    color: #030303;
}

.header {
    background-color: #290000;
    color: #F7CE65;
}

.results {
    background-color: #F7CE65;
}

.number {
    background-color: #FFFEBD;
    margin-left: 48%;
    width: 3rem;
}

h1, h3, h4, h5, h6 {
    text-decoration: underline;
    margin: 30px;
}

.dice_form {
    align: center;
}

.dice {
    width: 3rem;
    margin-top: .5rem;
}

.dice_results {
    text-decoration: none;
}
.components {
    margin: 3rem;
    line-height: 1.5rem;
}
ul {
    list-style-type: none;
}