{% extends "header.html" %}

<body>
{% block content %}
        <div class="container-fluid header">
            <br>
          <form method="post" action="{{ url_for('classes') }}">
          <h1>Classes</h1>
              <hr>
          {{ classes_list.select(class="btn btn-dark dropdown-toggle") }}<br>

          <br>
          <br>
          {{ classes_list.submit(class="btn btn-dark") }}
              </form>
          <hr>
        </div>
     {% if classes %}
        <div class="container-lg rounded border border-dark results">
        {% for x, y in classes.items() %}
            <div class="card results">{{ x.title() }}: <br>

                {{ y }}

            </div>

        {% endfor %}



            <div>
                  {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                  <p>{{ message }}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
            </div>
        </div>
    {% endif %}
{% endblock %}
</body>
</html>