{% extends "header.html" %}

    {% block title %} Monsters {% endblock %}



    {% block content %}
        <div class="container-fluid header">
            <br>
              <form method="post" action="{{ url_for('monsters') }}">
                <h1>Monsters</h1>
                  <hr>
                {{ monster_list.select(class="btn btn-dark dropdown-toggle") }}<br>

                <br>
                <br>
                {{ monster_list.submit(class="btn btn-dark") }}
              </form>
              <hr>
        </div>
    {%  if monster %}
        <div class="container-lg rounded border border-dark results">

            <div class="card results">

                <H1>{{ monster.name }}</H1><br>

                <div class="row rounded">
                  <div class="col">
                    <h3>Size</h3>
                    <p>{{ monster.size }}</p><br>
                  </div>

                  <div class="col">
                    <h3>Type</h3>
                    <p>{{ monster.type }}</p><br>
                  </div>

                  <div class="col">
                    <h3>Alignment</h3>
                    <p>{{ monster.alignment }}</p><br>
                  </div>

                  <div class="col">
                    <h3>Armor Class</h3>
                    <p>{{ monster.armor_class }}</p><br>
                  </div>

                  <div class="col">
                    <h3>Hit Points</h3>
                    <p>{{ monster.hit_points }}</p><br>
                  </div>

                  <div class="col">
                    <h3>Hit Dice</h3>
                    <p>{{ monster.hit_dice }}</p><br>
                  </div>

                  <div class="col">
                    <h3>Speed</h3>
                    <ul>
                      {% if speed %}
                        {% for x in monster.speed.items() %}
                      <li>{{ x[0] }} : {{ x[1] }}</li>
                        {% endfor %}
                      {% endif %}
                    </ul>
                      <br>
                  </div>
                </div>
            </div>

            <div class="card results">
                <div class="row">
                  <div class="col">
                      <h3>Strength</h3>
                      <p>{{ monster.strength }}</p><br>
                  </div>

                  <div class="col">
                      <h3>Dexterity</h3>
                      <p>{{ monster.dexterity }}</p><br>
                  </div>

                  <div class="col">
                      <h3>Constitution</h3>
                      <p>{{ monster.constitution }}</p><br>
                  </div>

                  <div class="col">
                      <h3>Intelligence</h3>
                      <p>{{ monster.intelligence }}</p><br>
                  </div>

                  <div class="col">
                      <h3>Wisdom</h3>
                      <p>{{ monster.wisdom }}</p><br>
                  </div>

                  <div class="col">
                      <h3 class="">Charisma</h3>
                      <p>{{ monster.charisma }}</p><br>
                  </div>

                </div>
            </div>

            <div class="card results">
                <div class="row">

                  <h3>Proficiencies</h3>

                    {% for x in monster.proficiencies %}
                    <div class="col">
                        <dl>
                            <dt>{{ x.proficiency.name.split(":")[0] }}</dt>
                            <dd>{{ x.proficiency.name.split(":")[1] }}</dd>
                        </dl>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <hr>

              <div>
                  <h3>Damage Vulnerabilities</h3><br>
            {% if monster.damage_vulnerabilities %}

                  {% for x in monster.damage_vulnerabilities %}
                  <p>{{ x.title() }}</p>
                  {% endfor %}

            {% else %}
                  <p>None...</p>
            {% endif %}

              </div>
              <div>
                  <h3>Damage Resistances</h3><br>
         {% if monster.damage_resistances %}

            {% for x in monster.damage_resistances %}
                  <p>{{ x.title() }}</p>
            {% endfor %}

                  {% else %}
                  <p>None...</p>
         {% endif %}

              </div>
              <div>
                  <h3>Damage Immunities</h3><br>
         {% if monster.damage_immunities %}

            {% for x in monster.damage_immunities %}
                  <p>{{ x.title() }}</p>
            {% endfor %}

         {% else %}
                  <p>None...</p>
         {% endif %}

              </div>
              <div>
                  <h3>Condition Immunities</h3><br>
         {% if monster.condition_immunities %}

            {% for x in monster.condition_immunities %}
                  <p>{{ x.title() }}</p>
            {% endfor %}

         {% else %}
                  <p>None...</p>
         {% endif %}

              </div>
              <div>

                  <h3>Senses</h3>
                  <ul>
                      {% if senses %}
              {% for x in monster.senses.items() %}
                  <li>{{ x[0] }} : {{ x[1] }}</li>
              {% endfor %}
                      {% endif %}
                  </ul>
              </div>
              <div>

                  <h3>Languages</h3>
                {% if languages %}
              {% for x in monster.languages.split(", ") %}
                  <p>{{ x }}</p>
              {% endfor %}
                {% endif %}
              </div>
              <div>
                  <h3>Challenge Rating</h3><br>
                  <p>{{ monster.challenge_rating }}</p>

              </div>
              <div>
                  <h3>Experience</h3><br>
                  <p>{{ monster.xp }} xp</p>

              </div>


                  <h3>Special Abilities</h3><br>
                <div class="row">
              {% for x in monster.special_abilities %}
               <div class="col">

                      <dl>{{ x.name }}</dl>
                      <dd>{{ x.desc }}</dd>
                  {% if x.usage %}
                      {% for y in x.usage.items() %}
                      <dl>{{ y[0] }}</dl>
                      <dd>{{ y[1] }}</dd>
                      {% endfor %}
                  {% endif %}


            </div>
              {% endfor %}
            <hr>
              </div>
            <br>

                  <h3>Actions</h3><br>
        <div class="row">
        {% for x in monster.actions %}
        <div>
                  <dt>{{ x.name }}</dt>
                    <dd>{{ x.desc }}</dd>

         {% if x.options %}
                  <h4>Options</h4>
                    <dl>Choose</dl>
                    <dt class="border border-dark rounded number">{{ x.options.choose }}</dt><br>
            {% for _ in x.options.from %}

                    {% for x, y in _.items() %}
                <div>
                    <div>
                   <h5>{{ y.name }}</h5>
                   <dl>Type of Attack</dl>
                    <dt>{{ y.type }}</dt>
                        </div>
                    <div>
                   <dl>Number of Attacks</dl>
                    <dt>{{ y.count }}</dt>
                        </div>
                </div>
                    {% endfor %}

            {% endfor %}
         {% endif %}

                  {% if x.attack_bonus %}

                    <dl><h5>Attack Bonus</h5></dl>
                    <dt>{{ x.attack_bonus }}</dt>
               {% endif %}
                    {% if x.damage %}
                    <h5>Damage Type</h5>
               {% for _ in x.damage %}
                    <dl>{{ _.damage_type.name }}</dl>
                    <dt>{{ _.damage_dice }}</dt><br>

       {% if _.dc %}
      <h6>Difficulty Challenge</h6>
      <dl>Name</dl>
      <dd>{{ _.dc.dc_type.name }}</dd>
      <dl>Value</dl>
      <dd>{{ _.dc.dc_value }}</dd>
      <dl>Success</dl>
      <dd>{{ _.dc.success_type }}</dd>
      {% endif %}
        <br>
               {% endfor %}
               {% endif %}


      </div>
        {% endfor %}


    </div>
            <hr>



                <div>
                  {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                  <p>{{ message }}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

    {% endif %}
                </div>

      </div>
    {% endblock %}

